<div class="icon-bar five-up" role="navigation">
  <a role="button" class="size-top-bar-links" tabindex="0" href="/lots">
    Active lots
  </a>
  <a role="button" class="size-top-bar-links" tabindex="0" href="/lots/new">
    New lot
  </a>
  <a role="button" class="size-top-bar-links" tabindex="0" href="/my_lots">
    My lots
  </a>
  <a role="button" class="size-top-bar-links" tabindex="0" href="/finish_lots">
    Ended auctions
  </a>
  <a role="button" class="size-top-bar-links" tabindex="0" href="/users/sign_out">
    Sign out
  </a>
   <a role="button" class="size-top-bar-links" tabindex="0" href="/users/edit">
    Edit my account
  </a>
</div>
