<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Auctions!</li>
      <li>
        <a href="/lots">All lots</a>
      </li>
      <li><a href="/my_lots">My lots</a></li>
      <li><a href="/finish_lots">Ended auctions</a></li>
      <li><a href="/users/edit">Edit account</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <a href="/users/sign_out" type="button" class="button"><font color="white">Sign out</font></a>
    </ul>
  </div>
</div>